*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    Background-image: url(images/hus.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: rebeccapurple;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}    
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    /*font-weight: bold;
    text-transform: capitalize;*/
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rebeccapurple;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
    /*color: rebeccapurple;
    transition: 0.4s;*/
}
nav ul li a:hover::after{
    width: 100%;

}
/*.btn{
    background-color: rebeccapurple;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}*/
.content{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
.content h1{
    font-size: 60px;
    margin-top: 20px;
    /*color: black;
    margin: 20px 0px 20px;
    font-size: 60px;*/
}
h3{
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
}
.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
/*.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rebeccapurple;
    outline: none;
    border-radius: 30px;
}*/
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rebeccapurple;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}